@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

:root {
  --t-color-white-2: #F2F2F2;
  --t-color-white: #FFFFFF;
  
  --t-color-black: #000000;
  --t-color-black-2: #1E1E1E;
  
  --t-color-primary-dark: #081826;
  --t-color-primary: #164066;
  --t-color-primary-light: #2468A6;
  
  --weight-regular: 400;
  --weight-semi-bold: 600;
  --weight-bold: 800;
  
  --border-radius-lg: var(--pad-xl);
  --t-color-shadow: rgba(0, 0, 0, 0.25);
  
  --pad-xH: 56px;
  --pad-H: 52px;
  --pad-xL: 48px;
  --pad-L: 44px;
  --pad-xh: 40px;
  --pad-h: 36px;
  --pad-xl: 32px;
  --pad-l: 28px;
  --pad-m: 24px;
  --pad-s: 20px;
  --pad-xs: 16px;
  --pad-t: 12px;
  --pad-xt: 8px;
  
  --text-m-size: var(--pad-xs);
  --text-m-height: var(--pad-m);
  
  --color-background: var(--t-color-white-2);
  --color-panel: var(--t-color-white);
  --color-toolbar-text: var(--t-color-white);
}

html, body {
  font-family: "Inter", sans-serif;
  font-weight: var(--weight-regular);
  font-size: var(--text-m-size);
  line-height: var(--text-m-height);
  color: var(--t-color-black-2);
  margin: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--t-color-primary);
  font-weight: var(--weight-bold);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h6 {
  font-size: 26px;
  line-height: 42px;
}

h5 {
  font-size: var(--pad-l);
  line-height: 42px;
}

h4 {
  font-size: 30px;
  line-height: 48px;
}

h3 {
  font-size: var(--pad-xl);
  line-height: 48px;
}

h2 {
  font-size: 34px;
  line-height: 54px;
}

h1 {
  font-size: var(--pad-h);
  line-height: 54px;
}

p {
  font-size: var(--text-m-size);
  line-height: var(--text-m-height);
  margin: unset;
}

ul {
  margin: unset;
}

.tsd-panel {
  border-radius: var(--pad-t);
  box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.35);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius-lg);
  background: var(--t-color-shadow);
}

.tsd-page-title, .tsd-page-toolbar {
  background-color: var(--t-color-primary);
}

.tsd-page-title h1, .tsd-page-title .tsd-breadcrumb a, .tsd-page-title .tsd-breadcrumb li:after {
  color: var(--t-color-white);
}

.tsd-page-title label:before, .tsd-page-toolbar label:before, .tsd-select .tsd-select-label:before {
  filter: invert(1);
}

.tsd-filter-group .tsd-select-list li {
  background-color: var(--t-color-white);
  color: var(--t-color-black-2);
}

.tsd-filter-group .tsd-select-list li:hover {
  background-color: var(--t-color-primary-light);
  color: var(--t-color-white);
}

#tsd-search li a, #tsd-search li span, #tsd-search li b, #tsd-search .results span.parent {
  color: var(--t-color-black-2);
}

.tsd-navigation.secondary {
  box-shadow: inset 0 0 16px -4px rgb(0 0 0 / 35%);
  border-radius: var(--pad-t);
  background-color: var(--t-color-white);
  padding-top: var(--pad-t);
  padding-bottom: var(--pad-t);
}
